@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin-ext';
.novosti{
    width: 90%;
    height: 100vh;
}


.img-block{
    margin-top: 25px;
    float: left;
    height: 150px;
    border:none;
    overflow: hidden;
}



.novost{
    position: relative;
}

.novost-item{
  height:400px;
}

.border-novost{
    width:102%;
    margin-left:-1%;
}

.img-novost{
    float: left;
    width: 100%;
    height: auto;
    border:none;
}

.novost-tekst{
  font-family: 'Roboto', sans-serif;
    margin-top: 15px;
    height:220px;

    color: #909191;
    font-size:10;
    font-weight: 300;
}

.novost-naslov{

    font-family: 'Roboto Slab', serif;
    margin-bottom: 0px;
    font-size:24px;
    font-weight: 300;
}


.novost{
    position: relative;
}
