.mainWrapper {
	width:100%;
	height:95vh;
	position: relative;
}

.image
{
	display: block;
	margin: auto;
	margin-top: 15%;
	height:27%;
}

.text
{
	text-align: center;
	font-family: 'Roboto', sans-serif;
	line-height: 150%;
}

.paragraph-text
{
	/*font-size:13pt;
	font-size:1.5vw;
	color: rgb(100,100,100);*/
	font-size:11pt;
	text-align: justify;
	color: rgb(100,100,100);
}


.y-half{
	font-size:5.4em;
	float: left;
	line-height: 84px;
}

.y-full{
	font-size: 11.4em;
	line-height: 0.7em;
}

.central-al{
	display: block;
	margin-top: 20px!important;

}

sapn{
	padding:0:
}
