@import 'https://fonts.googleapis.com/css?family=Roboto+Slab:300,400&subset=latin-ext';
.title-text
{
	font-size: 17pt;
	font-family: 'Roboto Slab', serif!important;
	color: rgb(100,100,100);
}

.title-text-middle
{
	font-size: 17pt;
	color: #c04444;
}

#title
{

	width: 100%;
	border-bottom: 1px solid #cccccc;

	margin-top: 5%;
}
