<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="../shape/shape-style.css">
		<link rel="stylesheet" href="../css/columns.css">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 

</head>

<div id = "mainWrapper">

<div id="title">

	<div id = "parent">
			<div id = "rectangle">Aktivnosti</div>
			<div id = "triangle-bottomleft"></div>
	</div>	

</div>

<div id="columns">
	<div class="column columnLeft">
		<img  class="image" src="../img/aktivnosti1.jpg" alt="Razgovor sa kompanijama">
		<p class="text title-text">Razgovor sa kompanijama</p>
		<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="column columnMiddle">
		<img class="image" src="../img/aktivnosti2.jpg" alt="Open Space Technology">
		<p class="text title-text-middle">Open Space Technology</p>
		<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

	<div class="column columnRight">
		<img class="image" src="../img/aktivnosti3.jpg" alt="Prezentacije kompanija">
		<p class="text title-text">Prezentacije kompanija</p>
		<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.</p>
	</div>

</div>
	

</div>