<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper">
    <div id="title" class="col-xs-12" >
        <div id="parent"  >
            <div id="rectangle" >
                Aktivnosti
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
        </div>
    </div>
    <div class="row" style="margin-left:5%;margin-right:5%">
        <div class="col-md-4 col-xs-12">
            <img alt="Razgovor sa kompanijama" class="image" src="img/razgovor.png">
                <p class="text title-text">
                    Razgovor sa kompanijama
                </p>
                <p class="text paragraph-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.
                </p>
            </img>
        </div>
        <div class="col-md-4 col-xs-12">
            <img alt="Open Space technology" class="image" src="img/ost.png">
                <p class="text title-text">
                    Open Space technology
                </p>
                <p class="text paragraph-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.
                </p>
            </img>
        </div>
        <div class="col-md-4 col-xs-12">
            <img alt="Prezentacije kompanija" class="image" src="img/prezentacija.png">
                <p class="text title-text">
                    Prezentacije kompanija
                </p>
                <p class="text paragraph-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.
                </p>
            </img>
        </div>
    </div>
</div>