<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper">
    <div id="title" class="col-xs-12" >
        <div id="parent"  >
            <div id="rectangle" >
                Aktivnosti
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
        </div>
    </div>
    <div class="row" >
        <div class="col-md-4 col-sm-12">
            <img alt="Razgovor sa kompanijama" class="image" src="img/razgovor.png">
                <p class="text title-text">
                    Razgovor sa kompanijama
                </p>
                <p class="text paragraph-text">
                    Osluškujući potrebe studenata i razumijevajući njihov strah od prvog kontakta sa budućim potencijalnim poslodavcem, organizatori JobFAIR-a će i ove godine omogućiti studentima da razgovaraju sa predstavnicima kompanija. Tokom dva dana posjetioci Sajma će imati priliku da se informišu o tome šta poslodavci očekuju od njih te koje vještine su poželjne za njihovu struku. Na osnovu stečenih informacija, studenti i diplomci mogu raditi na usvršavanju ličnih profila. Na ovaj način student će biti u mogućnosti da upozna samu firmu, kao i ona njega, stekne korisne kontakte i kreira svoj profesionalni put.
                </p>
            </img>
        </div>
        <div class="col-md-4 col-sm-12">
            <img alt="Open Space technology" class="image" src="img/ost.png">
                <p class="text title-text">
                    Open Space technology
                </p>
                <p class="text paragraph-text">
                    Open Space Technology (OST) predstavlja koncept interaktivne radionice čiji je cilj pristupiti određenoj temi iz više aspekata i pokušati doći do jasnijih zaključaka vezanih za istu.
                    Ovaj koncept, studentima i predstavnicima kompanija, omogućuje prostor da skupa rade na rješavanju zanimljivih problema, koji su aktuelni u poslovnom svijetu i s kojima se kompanije svakodnevno suočavaju. Ovo je jedinstven i idealan način da kompanije predstave način rada studentima te ih upoznaju sa tehnologijama koje se koriste. S druge strane, studenti imaju priliku doprinijeti kreativnom rješavanju problema i direktno razgovarati s predstavnicima kompanija.
                </p>
            </img>
        </div>
        <div class="col-md-4 col-sm-12">
            <img alt="Prezentacije kompanija" class="image" src="img/prezentacija.png">
                <p class="text title-text">
                    Prezentacije kompanija
                </p>
                <p class="text paragraph-text">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.
                </p>
            </img>
        </div>
    </div>
</div>
