<div class="header-row">
	<div class="container">
		<div class="row">
	        <div class="header-text col-md-6 col-sm-12">
	            <div class="header-title">Jobfair '16<br/>Iskoristi svoju šansu!</div>
	            <div class="header-title-small">Sajam zapošljavanja za studente i diplomce <br />tehničko - tehnoloških fakulteta i ekonomije</div>
	            <div class="header-title-small">Kampus Univerziteta u Sarajevu<br/>7. i 8. novembar</div>
	            
	        </div>
	        <div class="button-part col-md-6 col-sm-12">
	        	<a href="#ojobfairu" style="display:block;" class="pull-right button-oprojektu">OSTAVI SVOJ CV</a>	
	        </div>
		</div>  
	</div>
</div>
