<div class="counter" id="counter" style="position: relative">
	<div class="container">
		<div class="row">
			<div class="col-md-3 col-sm-12">
        <img src="img/users.png" />
        <div class="number">
          <p id="pos-c" class="pos-c">0</p>+<br />
          Posjetitelja godišnje
        </div>
			</div>
      <div class="col-md-3 col-sm-12">
        <img src="img/cv.png" />
        <div class="number">
          <p id="cv-c" class="cv-c">0</p>+<br />
          Unosa u CV bazu
        </div>
			</div>
      <div class="col-md-3 col-sm-12">
        <img src="img/rukovanje.png" />
        <div class="number">
          <p id="par-c" class="par-c">0</p>+<br />
          Kompanija učesnica
        </div>
			</div>
      <div class="col-md-3 col-sm-12">
        <img src="img/kamera.png" />
        <div class="number">
          <p id="med-c" class="med-c">0</p>+<br />
          Medijskih partnera
        </div>
			</div>
		</div>
	</div>
</div>
