<div id="footer">
  <div class="container">
    <div class="row">
      <div class="col-md-3 col-sm-12">
        <div class="heading-footer">Jobfair.ba sitemap</div>

        <a href="#">Landing page</a>
        <a href="#">Partneri</a>
        <a href="#">Ostavi CV</a>
        <a href="#">Kontakt</a>

      </div>
      <div class="col-md-3 col-sm-12">
        <div class="heading-footer">JobFAIR #socialmedia</div>

        <a href="#">Facebook page</a>
        <a href="#">Twitter</a>
        <a href="#">Linked In</a>
        <a href="#">EESTEC LC Sarajevo Facebook page</a>
        <a href="#">EESTEC LC Sarajevo Linked In</a>
        <a href="#">EESTEC LC Sarajevo Instagram</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="heading-footer">Posljednje novosti</div>


        <a href="#">EESTEC LC Sarajevo Instagram</a>
      </div>
      <div class="col-md-3 col-sm-12">
        <div class="heading-footer">Kontakt</div>

        <div class="item-footer">Jasmina Bajramović</div>
        <div class="item-footer">Jasmina Bajramović</div>
        <div class="item-footer smmm">Koordinatorica tima za odnose sa javnošću</div>
      </div>
    </div>
  </div>
</div>
<div class="pod-footer">
  <div class="container">
    <div class="row">
      Copyright (C) EESTEC LC Sarajevo 2016
    </div>
  </div>
</div>
