<!--Sivo cudo na slici-->
<div class="header-mediji">
  <div class = "shadow"></div>
  <div class="text">Medijski partneri</div>
</div>

<!--Proslogodisnji kod BEGIN -->
<div id="svi_partneri">
      <div class="c_godisnji">
        <div id="godisnji">GENERALNI WEB POKROVITELJ UDRUŽENJA</div>
        <ul id="lista">
            <div class="partneri_box">
                <li> <a href="http://http://www.radiosarajevo.ba//"><img id="radiosarajevo-web-pokrovitelj" src="img/mediji/generalniweb/radiosarajevo.png" alt="Radiosarajevo"></a> </li> 
            </div>
        </ul>
		  </div>

      <p style="clear:both;"></p>
      <br>
      <div class="c_generalni">
	      <h1 id="godisnji"> GENERALNI RADIJSKI POKROVITELJ </h1>
	      <ul id="lista">
          <div class="partneri_box">
	           <li ><a href="http://radiom.ba/">  <img id="radioM-generalni" src="img/mediji/generalniradijski/radiom.jpg" alt="Radio M"> </a></li>
          </div>
	      </ul>
      </div>
      <p style="clear:both;"></p>
      <br>

      <div class="c_pokrovitelji">
		      <h1 id="srebreni"> MEDIJSKI POKROVITELJI  </h1>
		      <ul id="lista">
			       <div class="partneri_box">
                        <li> 
                          <a href="http://http://www.sutra.ba//">
                            <img id="akta-pokrovitelj" src="img/press/akta.jpg" alt="akta.ba" > 
                          </a>
                        </li>   

                       <li> 
                          <a href="http://www.iuventa.mladi.org/"> 
                            <img id="iuventa-pokrovitelj" src="img/press/iuventa.jpg" alt="Iuventa" > 
                          </a>
                        </li>
                       
                       <li> 
                        <a href="http://kameleon.ba/"> 
                          <img id="kameleon-pokrovitelj" src="img/press/kameleon.png" alt="Kameleon" > 
                        </a>
                      </li>
                       
                       <p style="clear:both;"></p>
                       <br>
                       
                        <li> 
                          <a href="http://www.sutra.ba/">
                            <img id="novi-pokrovitelj" src="img/mediji/medijskipokrovitelji/sutra.png" alt="Sutra">
                          </a>
                        </li>

                        <li> 
                          <a href="https://www.facebook.com/Informativni-časopis-Student-250700114992688/?ref=ts&fref=ts">
                            <img id="student-pokrovitelj" src="img/mediji/medijskipokrovitelji/student.jpg" alt="Student">
                          </a>
                        </li>

                        <li> 
                          <a href="http://www.haber.ba/">
                            <img id="radio8-pokrovitelj" src="img/mediji/medijskipokrovitelji/haber.png" alt="Haber">
                          </a>
                        </li>

                       <p style="clear:both;"></p>
                       <br>

                        <li> 
                          <a href="http://www.hercegovina.info/"><img id="alfa-pokrovitelj" src="img/mediji/medijskipokrovitelji/hercegovinainfo.png" alt="HercegovinaInfo">
                          </a>
                        </li>

                        <li> 
                          <a href="https://www.hocu.ba">
                            <img id="hocu-pokrovitelj" src="img/mediji/medijskipokrovitelji/hocu.png" alt="Hocu">
                          </a>
                        </li>

                        <li> 
                          <a href="http://studomat.ba/">
                            <img id="efm-pokrovitelj" src="img/mediji/medijskipokrovitelji/studomat.png" alt="Studomat">
                          </a>
                        </li>
                      
                        <p style="clear:both;"></p>
                        <br>

                        <li> 
                          <a href="https://www.cafe.ba/">
                            <img id="depo-pokrovitelj" src="img/mediji/medijskipokrovitelji/cafe.png" alt="Cafe">
                          </a>
                        </li>

                        <li> 
                          <a href="https://www.pogled.ba">
                            <img id="pogled-pokrovitelj" src="img/mediji/medijskipokrovitelji/pogled.jpg" alt="Pogled">
                          </a>
                        </li>

                        <li> 
                          <a href="http://www.furaj.ba/">
                            <img id="bhindex-pokrovitelj" src="img/mediji/medijskipokrovitelji/furaj.png" alt="Furaj">
                          </a>
                        </li>

                        <p style="clear:both;"></p>
                        <br>

                        <li> 
                          <a href="https://www.doznajemo.com/">
                            <img id="vogosca-pokrovitelj" src="img/mediji/medijskipokrovitelji/doznajemo.png" alt="Doznajemo">
                          </a>
                        </li>

                        <li> 
                          <a href="http://www.bljesak.info/">
                            <img id="vijesti-pokrovitelj" src="img/mediji/medijskipokrovitelji/bljesak.png" alt="Bljesak">
                          </a>
                        </li>

                        <li> 
                          <a href="http://www.bhmagazin.com/">
                            <img id="sens-pokrovitelj" src="img/mediji/medijskipokrovitelji/bhmagazin.png" alt="BHMagazin">
                          </a>
                        </li>

                        <p style = "clear:both;"></p>
                        <br>

                        <li> 
                          <a href="#">
                            <img id="vijesti-pokrovitelj" src="img/mediji/medijskipokrovitelji/oslobodjenje.png" alt="Oslobodjenje">
                          </a>
                        </li>
              </div>         
		      </ul>
      </div >

         <p style="clear:both;"></p>
         <br>

          <div class="c_ucesnici">
  		      <h1 id="ucesnici"> MEDIJSKI PARTNERI </h1>
  		      <ul id="lista">
			       <div class="partneri_box">
                 <li>
                  <a href="#">
                    <img id="studomat-p" src="img/mediji/medijskipartneri/gracija.png" alt="Gracija">
                  </a>
                </li>
                 <li>
                  <a href="http://www.sutra.ba/">
                    <img id="sutra-p" src="img/mediji/medijskipartneri/bportal.jpg" alt="Sutra">
                  </a>
                </li>

                <li>
                  <a href="#">
                    <img id="sutra-p"  src="img/mediji/medijskipartneri/radio8.jpg" alt="Radio 8">
                  </a>
                </li>            
              </div>
  		      </ul>
          </div>   
         <p style="clear:both; margin-bottom:50px;"></p>
        <br>

        <div class="c_ucesnici">
            <h1 id="ucesnici"> MEDIJI KOJI SU PODRŽALI SAJAM </h1>
            <ul id="lista">
             <div class="partneri_box">

                 <li>
                  <a href="#">
                    <img id="studomat-p" src="img/mediji/podrzali/alfa.png" alt="Alfa TV">
                  </a>
                </li>

                 <li>
                  <a href="#">
                    <img id="sutra-p" src="img/mediji/podrzali/face.png" alt="Face TV">
                  </a>
                </li>
                 <li>
                  <a href="http://depo.ba/">
                    <img id="haber-p" src="img/mediji/podrzali/depo.png" alt="Depo">
                  </a>
                </li>

                 <p style="clear:both;"></p>
                  <br>

                 <li>
                  <a href="http://www.bhmagazin.com/">
                    <img id="bhmagazin-p" src="img/mediji/podrzali/antenasarajevo.png" alt="BHMagazin">
                  </a>
                </li>
                 <!--<li><a href="http://www.doznajemo.com/"><img id="doznajemo-p" src="img/press/doznajemo.png" alt="Doznajemo"></a></li>-->
                       
              </div>
            </ul>
          </div>   
         <p style="clear:both; margin-bottom:50px;"></p>
        <br>
  </div>
<!--Proslogodisnji kod END -->
