<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper">
    <div id="title" class="col-xs-12" >
        <div id="parent">
            <div id="rectangle">
                O nama
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
            <!--<div id = "parallelogram-2"></div>-->
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12">
            <img alt="Povezivanje studenata" class="image" src="img/network.png">
                <p class="text title-text">
                    Povezivanje studenata
                </p>
                <p class="text paragraph-text">
                    EESTEC (engl. Electrical Engineering STudents' European assoCiation) je udruženje studenata elektrotehnike Evrope. Trenutno postoje 54 lokalna komiteta na fakultetima u gradovima širom Evrope i taj broj se povećava. Osnovni cilj EESTEC-a je promocija i razvoj međunarodnih kontakta između studenata i profesionalaca iz oblasti elektrotehnike. EESTEC pruža poslovne mogućnosti i internacionalnu karijeru svim članovima lokalnih komiteta, a jedan od koraka ka ostvarenju ovog cilja je formiranje jedinstvene baze podataka studenata elektrotehnike iz cijele Evrope, kako bi internacionalne kompanije mogle specijalizirati studente u vrhunske inženjere kroz rad u njihovom poslovnom okruženju. 
                </p>
            </img>
        </div>
        <div class="col-md-4 col-sm-12">
            <img alt="Povezivanje studenata" class="image" src="img/medalja.png">
                <p class="text title-text">
                    Višegodišnja tradicija i uspjesi
                </p>
                <p class="text paragraph-text">
                    Tokom 10 godina aktivnog rada, EESTEC LC Sarajevo se može pohvaliti velikim brojem organizovanih projekata, kako na lokalnom nivou, tako i na internacionalnom. Naš lokalni komitet teži da pruži maksimalni doprinos poboljšanju situacije studenata u Bosni i Hercegovini. Naš moto je da mladi ne trebaju čekati na prilike, već ih sami stvarati. Kroz naše lokalne projekte Soft Skills Academy Sarajevo i JobFAIR, trudimo se da motivišemo mlade da na vrijeme počnu razvijati lične i profesionalne sposobnosti te im pružamo mogućnost direktnog kontakta sa vodećim kompanijama iz tehničko-tehnoloških oblasti i ekonomije.

                </p>
            </img>
        </div>
        <div class="col-md-4 col-sm-12">
            <img alt="Povezivanje studenata" class="image" src="img/mapa.png">
                <p class="text title-text">
                    Putovanja i razmjena iskustava
                </p>
                <p class="text paragraph-text">
                   Razmjena ideja i iskustava iz oblasti elektrotehnike i kompjuterskih nauka te unapređenje tehničkog znanja studenata elektrotehnike omogućeno je kroz stručne radionice, razmjene, stručne prakse i slične aktivnosti u organizaciji različitih lokalnih komiteta. Studenti imaju priliku da posjete bilo koji od gradova u kojima EESTEC ima lokalni komitet te se upoznaju sa kulturom i običajima države u kojoj borave. U toku boravka u drugim gradovima stvaraju prijateljstva, koja su često za čitav život.
                </p>
            </img>
        </div>
    </div>
</div>
