<head>
		<meta charset="utf-8">
		<link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet"> 
</head>

<div id = "mainWrapper">

	<div id="title">
	
		<div id = "parent">
				<div id = "rectangle">O nama</div>
				<div id = "triangle-bottomleft"></div>
		</div>	
	
	</div>
	
	<div id="columns">	
		<div class="column columnLeft">	
			<img  class="image" src="img/onama1.jpg" alt="Povezi	vanje studenata">	
			<p class="text title-text">Povezivanje studenata</p>	
			<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.</p>
		</div>
	
		<div class="column columnMiddle">	
			<img class="image" src="img/onama2.jpg" alt="Višegodišnja tradicija i 	uspjesi">	
			<p class="text title-text-middle">Višegodišnja tradicija i uspjesi</p>	
			<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.</p>
		</div>
	
		<div class="column columnRight">	
			<img class="image" src="img/onama3.jpg" alt="Putovanja i razm	jena iskustava">	
			<p class="text title-text">Putovanja i razmjena iskustava</p>	
			<p class="text paragraph-text">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore 	magna 	aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in 	reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui 	officia deserunt mollit anim id est laborum.</p>
		</div>
	
	</div>
	

</div>