<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper" id = "oprojektu">
    <div id="title" class="col-xs-12" >
        <div id="parent"  >
            <div id="rectangle" >
                O projektu
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-sm-12 central-al">
          <div class="y-half" style="color:#B0B0B0;">2008</div>
          <div class="y-half">2010</div>
          <div class="y-full" style="color:#c0392b;">2011</div>
          <div class="y-half">2012</div>
          <div class="y-half" style="color:#e74c3c;">2013</div>
          <div class="y-full">2014</div>
          <div class="y-half">2015</div>
          <div class="y-half" style="color:#AB0000;">2016</div>
        </div>
        <div class="col-md-8 col-sm-12">
                <p class="text paragraph-text" style = "margin-top:30px; font-size:13.5px;">
                  Sajam zapošljavanja za studente i diplomce tehničko-tehnoloških fakulteta i ekonomije "JobFAIR ‘16 - Iskoristi svoju šansu!" je najznačajniji projekat u organizaciji Udruženja studenata elektrotehnike Evrope, EESTEC LC Sarajevo. Ove godine se po osmi put održava u Kampusu Univerziteta u Sarajevu, 7. i 8. novembra. Organizatori Sajma još jednom dokazuju da u Bosni i Hercegovini postoje mladi koji ne čekaju prilike, nego ih stvaraju sami!
                  <br><br>
                  Osnovni cilj JobFAIR-a je direktan kontakt između studenata i poslodavaca. Tokom dva dana trajanja Sajma posjetioci će biti u mogućnosti da razgovaraju sa predstavnicima kompanija,  informišu se o tome šta poslodavci očekuju od njih te koje vještine su poželjne za njihovu struku. Na osnovu stečenih informacija, studenti i diplomci mogu dalje raditi na usvršavanju ličnog profila.
                  <br><br>
                  Ovaj projekat direktno stimuliše zapošljavanje mladih u uspješnim domaćim kompanijama. Također, kroz različita predavanja i savjete profesionalaca pruža se podrška mladima koji imaju ambicije da započnu sopstveni biznis. Osim samog zapošljavanja, projekat ima veliki značaj sa aspekta informisanja mladih. Posjetioci Sajma će imati priliku upoznati se sa mogućnostima koje pruža naša privreda, što će im pomoći u izboru budućeg profesionalnog usmjerenja.
                  <br><br>
                  Predstavnici kompanija učesnica Sajma će, tokom ova dva dana, imati priliku da kroz direktnu komunikaciju sa posjetiocima Sajma steknu uvid u stručnost mladih iz Bosne i Hercegovine i njihovu spremnost da budu konkurentni na sve zahtjevnijem tržištu rada.
                  <br><br>
                  Osim sajamskog karaktera, JobFAIR ima i popratne aktivnosti u vidu prezentacija, radionica i OST-a (Open Space Technology).
                  <br>
                  Ovaj projekat pruža mnoge benefite, a jedan od njih je i mogućnost ostavljanja biografija u CV bazu podataka, kojoj kompanije učesnice Sajma imaju pristup tokom čitave godine. Posjetioci koji su na jednom od prethodnih JobFAIR-a ostavili svoj CV, imaju mogućnost da ga ažuriraju i dopune novostečenim vještinama.  U CV bazi se trenutno nalazi oko 3000 biografija.
                </p>
        </div>
    </div>
</div>
