<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper">
    <div id="title" class="col-xs-12" >
        <div id="parent"  >
            <div id="rectangle" >
                O projektu
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
        </div>
    </div>
    <div class="row" style="margin-left:5%;margin-right:5%;">
        <div class="col-md-4 col-xs-12">
            <img alt="Godine sajma" class="image" src="img/timeline/brojevi.png" style="width:400px; height:400px;">
        </div>
        <div class="col-md-8 col-xs-12">
                <p class="text paragraph-text" style = "margin-top:17%; text-align: left;">
                    JobFAIR je sajam koji okuplja ambiciozne studente i diplomce tehničko-tehnoloških fakulteta i ekonomije u procesu traženja posla i usavršavanja u struci. Ove godine održat će se 7. i 8. novembra u organizaciji Udruženja studenata elektrotehnike Evrope - EESTEC, lokalni komitet Sarajevo. Tehničko-tehnološka zanimanja uključuju područja istraživanja inženjerskih nauka poput računarsko-informatičkih, elektrotehnike, mašinstva, saobraćaja, telekomunikacija, građevine, arhitekture i slično.
                    <br><br>
                    Projekat predstavlja mogućnost da poslodavci i studenti pronađu zajednička interesovanja na polju zaposlenja, što podrazumijeva izvrsnu priliku za studente da usavrše lični profil, a za kompanije jednostavniji pronalazak stručnog kadra te mogućnost ostvarivanja kontakta sa studentima kao i sa drugim kompanijama. Tokom Sajma predstavnici kompanija imaju priliku upoznati studente sa načinom rada unutar kompanije, programima zapošljavanja, usavršavanja i praksi koje imaju te im pružiti detaljne informacije o profesionalnoj i ličnoj karti koju potencijalni uposlenici trebaju ispuniti.
                </p>  
        </div>
    </div>
</div>