<head>
    <meta charset="utf-8">
        <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
        </link>
    </meta>
</head>
<div class="mainWrapper" style="height:65vh;">
    <div id="title" class="col-xs-12" >
        <div id="parent"  >
            <div id="rectangle" >
                Suorganizatori
            </div>
            <div id="triangle-bottomleft">
            </div>
            <div id = "parallelogram"></div>
        </div>
    </div>
    <!--<div class="row" style="margin-left:5%;margin-right:5%;">-->
        <div class="col-md-6 col-sm-12">
            <img alt="szks" class="image" src="img/suorganizatori/szks.png" style="width:300px; height:80px; margin-top:22%;">
        </div>
        <div class="col-md-6 col-sm-12" style="margin-top:0%;">
            <img alt="fmon" class="image" src="img/suorganizatori/fmon.jpg" style="width:300px; height:200px;">
        </div>
    <!--</div>-->
</div>